# ========================
# Android / Gradle Build
# ========================
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild
.cxx
*.apk
*.aab
*.class

# ========================
# Project Specific
# ========================
# Ignore the build folder inside the app module
/app/build/

# ========================
# SECRETS (Very Important)
# ========================
# Ignore google-services.json specifically in the app folder
/app/google-services.json

# If you have keystores, ignore them too
*.jks
*.keystore
